@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #ececec;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #4e4949;
}
::-webkit-scrollbar-track {
  background: #ccc;
}

.container {
  width: 90%;
  margin: auto;
}

.bg-org {
  background: none !important;
  color: #ff5252 !important;
  border: 1px solid #ff5252 !important;
  font-weight: 500;
  font-size: 16px;
}
.bg-org:hover {
  background: #171717 !important;
}
.btn-org.btn-border {
  background: none !important;
  color: #ff5252 !important;
  border: 1px solid #ff5252 !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
}
.btn-org.btn-border:hover {
  background: #171717 !important;
  color: #fff !important;
}

/* of login page btn class */
.btn-lg {
  font-size: 18px;
  padding: 10px 20px !important;
}
.btn-sm {
  font-size: 12px;
  padding: 5px 20px !important;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}
nav ul button:hover {
  background: none !important;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
  color: #000;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 50% !important;
}

.smlBtn .swiper-button-prev:after,
.smlBtn .swiper-button-next:after {
  font-size: 18px !important;
  color: #000;
}

.homeCatSlider {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-prev:after {
  font-size: 16px !important;
}
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-next::after {
  font-size: 16px !important;
}

.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}
.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #ff5252 !important;
}

.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  color: #fff !important;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.productSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

/* button for footer (for submit email) */

.btn-org {
  background: #ff5252 !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
}
.btn-org:hover {
  background: #000 !important;
}
footer form input::placeholder {
  font-size: 14px;
}

/* HomeSliderV2 card text slider */
.swiper-pagination-bullet-active {
  background: rgb(230, 7, 7) !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .info h4 {
  transition-duration: 1.4s;
}
.homeSliderV2 .info h3 {
  transition-duration: 1.5s;
}
.homeSliderV2 .info h2 {
  transition-duration: 1.9s;
}
.homeSliderV2 .info .btn_ {
  transition-duration: 2.3s;
}

.MuiCheckbox-root {
  padding: 5px !important;
}

/* for /productlisting (side panel (shop by category)) */
.ReactCollapse--collapse {
  transition: height 400ms;
}

.itemViewActions button.active svg {
  color: #ff5252 !important;
  opacity: 1;
}
.Mui-selected.MuiPaginationItem-page {
  background: #2e2d2d !important;
  color: rgb(255, 255, 255);
}

.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 38px !important;
}

.zoomProductSliderThumbs .swiper-slide {
  height: 100px !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-next:after {
  transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-prev {
  top: 20px !important;
  left: 0px !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-prev:after {
  transform: rotate(90deg);
}

/* product details page
  for size buttons
*/
.productContent .actions button {
  min-width: 40px !important;
  height: 30px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* for review scroll sidebar button */

.reviewScroll::-webkit-scrollbar {
  width: 5px !important;
}
.reviewScroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.productDetailsModal .MuiDialogContent-root {
  padding: 0px !important;
}

/* shopping cart panel drower */

.cartPanel .MuiPaper-root {
  width: 400px;
  overflow: hidden;
}

/* size menu after adding in cart */

#size-menu .MuiButtonBase-root {
  font-size: 14px !important;
}

/* otp box styling */

.otpBox input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}
.otpBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}
.otpPage .container {
  height: 90vh;
  display: flex;
}

/* login user icon detail */

#account-menu .MuiPaper-root {
  width: 200px !important;
}

/* my account ul class */
.myAccountTabs li a {
  position: relative;
  display: block;
}

.myAccountTabs li a::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ff5252;
  transition: all 0.3s ease-in-out;
}

.myAccountTabs li a.active::before {
  height: 100%;
  opacity: 1;
  top: 0px;
}

.myAccountTabs li a.active button svg {
  color: #ff5252 !important;
  opacity: 1 !important;
}

button .MuiCircularProgress-root {
  width: 25px !important;
  height: 25px !important;
}
